:root {
    --primary--boder: 12px;
    --primary--color: #6E5CF8;
}

.color-black {
    color: #15101d;
}

.nav__header {
    color: #fff;
    background: #fff;
}

/* nav */

.form-search {
    gap: 43px;
}

.form__btn--main {
    padding: 7px 30px;
    border-radius: var(--primary--boder);
    background: var(--primary--color);
}

.btn__login {
    background: #fff;
    color: #000;
}